In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName(
    "PySpark_Dataframe_Insert_into_Spark_table"
).getOrCreate()

24/02/22 14:43:51 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
data = [
    ("ABC pvt ltd", "Q1", 2000),
    ("XYZ pvt ltd", "Q1", 5000),
    ("KLM pvt ltd", "Q1", 2000),
]

column = ["Company", "Quarter", "Revenue"]
df = spark.createDataFrame(data=data, schema=column)
df.show(truncate=False)

+-----------+-------+-------+
|Company    |Quarter|Revenue|
+-----------+-------+-------+
|ABC pvt ltd|Q1     |2000   |
|XYZ pvt ltd|Q1     |5000   |
|KLM pvt ltd|Q1     |2000   |
+-----------+-------+-------+

In [4]:
df.write.saveAsTable("default.fact_revenue")

In [5]:
# 1st way to show the result
spark.table("default.fact_revenue").show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|XYZ pvt ltd|     Q1|   5000|
|KLM pvt ltd|     Q1|   2000|
|ABC pvt ltd|     Q1|   2000|
+-----------+-------+-------+

In [6]:
# 2nd way to show the result
spark.sql("select * from default.fact_revenue").show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|XYZ pvt ltd|     Q1|   5000|
|KLM pvt ltd|     Q1|   2000|
|ABC pvt ltd|     Q1|   2000|
+-----------+-------+-------+

In [ ]:
# 3rd way to show the result
%sql
select * from default.fact_revenue

In [7]:
data = [("RST pvt ltd", "Q4", 7000)]

column = ["Company", "Quarter", "Revenue"]
df1 = spark.createDataFrame(data, column)
df1.show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|RST pvt ltd|     Q4|   7000|
+-----------+-------+-------+

- overwrite=False

In [8]:
df1.write.insertInto("default.fact_revenue", overwrite=False)

In [9]:
# 1st way to show the result
spark.table("default.fact_revenue").show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|XYZ pvt ltd|     Q1|   5000|
|RST pvt ltd|     Q4|   7000|
|KLM pvt ltd|     Q1|   2000|
|ABC pvt ltd|     Q1|   2000|
+-----------+-------+-------+

- overwrite=True

In [10]:
data = [("ORT pvt ltd", "Q3", 3000)]

column = ["Company", "Quarter", "Revenue"]
df2 = spark.createDataFrame(data, column)
df2.show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|ORT pvt ltd|     Q3|   3000|
+-----------+-------+-------+

In [11]:
df2.write.insertInto("default.fact_revenue", overwrite=True)

In [12]:
spark.table("default.fact_revenue").show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|ORT pvt ltd|     Q3|   3000|
+-----------+-------+-------+

- SQL magic command

In [13]:
data = [("ABC pvt ltd", "Q3", 4000)]

column = ["Company", "Quarter", "Revenue"]
df3 = spark.createDataFrame(data, column)
df3.show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|ABC pvt ltd|     Q3|   4000|
+-----------+-------+-------+

In [14]:
df3.createOrReplaceTempView("v_insert_data")

In [15]:
spark.sql("insert into default.fact_revenue select * from v_insert_data")

DataFrame[]

In [16]:
spark.table("default.fact_revenue").show()

+-----------+-------+-------+
|    Company|Quarter|Revenue|
+-----------+-------+-------+
|ORT pvt ltd|     Q3|   3000|
|ABC pvt ltd|     Q3|   4000|
+-----------+-------+-------+