In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Greates_Least_Max_Min").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/15 15:14:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Create sample dataset

input_data = [
    ("David", 70, 68, 89, 40, 84),
    ("Kevin", 90, 67, 87, 79, 74),
    ("Natalia", 66, 88, 49, 65, 72),
    ("Roger", 78, 73, 82, 89, 67),
    ("Michael", 80, 86, 69, 78, 92),
]

schema = ["Student", "Subject_1", "Subject_2", "Subject_3", "Subject_4", "Subject_5"]

df = spark.createDataFrame(data=input_data, schema=schema)
df.show()

+-------+---------+---------+---------+---------+---------+
|Student|Subject_1|Subject_2|Subject_3|Subject_4|Subject_5|
+-------+---------+---------+---------+---------+---------+
|  David|       70|       68|       89|       40|       84|
|  Kevin|       90|       67|       87|       79|       74|
|Natalia|       66|       88|       49|       65|       72|
|  Roger|       78|       73|       82|       89|       67|
|Michael|       80|       86|       69|       78|       92|
+-------+---------+---------+---------+---------+---------+

- Greates of columns

In [3]:
from pyspark.sql.functions import greatest, least

In [4]:
greatDF = df.withColumn(
    "Greates", greatest("Subject_1", "Subject_2", "Subject_3", "Subject_4", "Subject_5")
)
greatDF.show()

+-------+---------+---------+---------+---------+---------+-------+
|Student|Subject_1|Subject_2|Subject_3|Subject_4|Subject_5|Greates|
+-------+---------+---------+---------+---------+---------+-------+
|  David|       70|       68|       89|       40|       84|     89|
|  Kevin|       90|       67|       87|       79|       74|     90|
|Natalia|       66|       88|       49|       65|       72|     88|
|  Roger|       78|       73|       82|       89|       67|     89|
|Michael|       80|       86|       69|       78|       92|     92|
+-------+---------+---------+---------+---------+---------+-------+

- Least of columns

In [5]:
leastDF = df.withColumn(
    "Least", least("Subject_1", "Subject_2", "Subject_3", "Subject_4", "Subject_5")
)
leastDF.show()

+-------+---------+---------+---------+---------+---------+-----+
|Student|Subject_1|Subject_2|Subject_3|Subject_4|Subject_5|Least|
+-------+---------+---------+---------+---------+---------+-----+
|  David|       70|       68|       89|       40|       84|   40|
|  Kevin|       90|       67|       87|       79|       74|   67|
|Natalia|       66|       88|       49|       65|       72|   49|
|  Roger|       78|       73|       82|       89|       67|   67|
|Michael|       80|       86|       69|       78|       92|   69|
+-------+---------+---------+---------+---------+---------+-----+

- Max of Rows

In [6]:
df.agg({"Subject_1": "max"}).show()

+--------------+
|max(Subject_1)|
+--------------+
|            90|
+--------------+

In [7]:
df.agg(
    {
        "Subject_1": "min",
        "Subject_2": "min",
        "Subject_3": "min",
        "Subject_4": "min",
        "Subject_5": "min",
    }
).show()

+--------------+--------------+--------------+--------------+--------------+
|min(Subject_3)|min(Subject_4)|min(Subject_2)|min(Subject_5)|min(Subject_1)|
+--------------+--------------+--------------+--------------+--------------+
|            49|            40|            67|            67|            66|
+--------------+--------------+--------------+--------------+--------------+