## Delta Internal Architecture

In [1]:
from pyspark.sql import SparkSession
from delta import *

builder = (
    SparkSession.builder.appName("MyApp")
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension")
    .config(
        "spark.sql.catalog.spark_catalog",
        "org.apache.spark.sql.delta.catalog.DeltaCatalog",
    )
)
spark = configure_spark_with_delta_pip(builder).getOrCreate()

:: loading settings :: url = jar:file:/home/nil/anaconda3/envs/spark/lib/python3.10/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/nil/.ivy2/cache
The jars for the packages stored in: /home/nil/.ivy2/jars
io.delta#delta-spark_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-978a1ab7-5a0f-4559-bbfc-aa63d3822b2e;1.0
	confs: [default]
	found io.delta#delta-spark_2.12;3.1.0 in central
	found io.delta#delta-storage;3.1.0 in central
	found org.antlr#antlr4-runtime;4.9.3 in central
:: resolution report :: resolve 358ms :: artifacts dl 10ms
	:: modules in use:
	io.delta#delta-spark_2.12;3.1.0 from central in [default]
	io.delta#delta-storage;3.1.0 from central in [default]
	org.antlr#antlr4-runtime;4.9.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   0   |   0   |   0   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-978a1ab7-5a0f-4559-bbfc-aa63d3822b2e
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/7ms)
24/02/16 11:35:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/16 11:36:11 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [9]:
DeltaTable.create(spark).tableName("delta_internal_table_01").addColumn(
    "emp_id", "INT"
).addColumn("emp_name", "STRING").addColumn("gender", "STRING").addColumn(
    "salary", "INT"
).addColumn(
    "Dept", "STRING"
).property(
    "description", "table created for demo purpose"
).location(
    "/mnt/sda3/iNeuron/Data Engineering/pySpark/Delta_Lake/delta_lake_01"
).execute()

In [15]:
spark.read.format("delta").load("./Delta_Lake/delta_lake_01/").show()

+------+--------+------+------+----+
|emp_id|emp_name|gender|salary|Dept|
+------+--------+------+------+----+
+------+--------+------+------+----+

In [18]:
spark.sql("select * from delta_internal_table_01").show()

+------+--------+------+------+----+
|emp_id|emp_name|gender|salary|Dept|
+------+--------+------+------+----+
+------+--------+------+------+----+

In [19]:
spark.sql("insert into delta_internal_table_01 values(100,'Stephen','M',2000,'IT')")

DataFrame[]

In [20]:
spark.sql("select * from delta_internal_table_01").show()

+------+--------+------+------+----+
|emp_id|emp_name|gender|salary|Dept|
+------+--------+------+------+----+
|   100| Stephen|     M|  2000|  IT|
+------+--------+------+------+----+

In [21]:
spark.sql(
    "insert into delta_internal_table_01 values(200,'Philipp','M',8000,'HR'),(300,'Laura','F',6000,'SALES')"
)

DataFrame[]

In [22]:
spark.sql("select * from delta_internal_table_01").show()

+------+--------+------+------+-----+
|emp_id|emp_name|gender|salary| Dept|
+------+--------+------+------+-----+
|   300|   Laura|     F|  6000|SALES|
|   200| Philipp|     M|  8000|   HR|
|   100| Stephen|     M|  2000|   IT|
+------+--------+------+------+-----+

In [23]:
spark.sql("select * from delta_internal_table_01 where emp_id>100").show()

+------+--------+------+------+-----+
|emp_id|emp_name|gender|salary| Dept|
+------+--------+------+------+-----+
|   300|   Laura|     F|  6000|SALES|
|   200| Philipp|     M|  8000|   HR|
+------+--------+------+------+-----+

In [24]:
spark.read.format("parquet").load(
    "Delta_Lake/delta_lake_01/part-00000-5dd265a0-43e0-4c7c-a820-e7a3bb5e8dda-c000.snappy.parquet"
).show()

+------+--------+------+------+----+
|emp_id|emp_name|gender|salary|Dept|
+------+--------+------+------+----+
|   200| Philipp|     M|  8000|  HR|
+------+--------+------+------+----+

In [28]:
spark.sql("DROP TABLE delta_internal_table")

DataFrame[]

In [31]:
spark.sql("show tables").show(truncate=False)

+---------+-----------------------+-----------+
|namespace|tableName              |isTemporary|
+---------+-----------------------+-----------+
|default  |delta_internal_table_01|false      |
+---------+-----------------------+-----------+