In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Null_Count").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/15 13:09:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/02/15 13:09:43 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

- Creating sample dataframe with null values

In [3]:
data_student = [
    ("Michael", "Science", 80, "P", 90),
    ("Nancy", "Mathematics", 90, "P", None),
    ("David", "English", 20, "F", 80),
    ("John", "Science", None, "F", None),
    ("Martin", "Mathematics", None, None, 90),
    (None, None, None, None, None),
]

schema = ["Name", "Subject", "Mark", "Status", "Attendance"]
df = spark.createDataFrame(data=data_student, schema=schema)
df.show()

+-------+-----------+----+------+----------+
|   Name|    Subject|Mark|Status|Attendance|
+-------+-----------+----+------+----------+
|Michael|    Science|  80|     P|        90|
|  Nancy|Mathematics|  90|     P|      NULL|
|  David|    English|  20|     F|        80|
|   John|    Science|NULL|     F|      NULL|
| Martin|Mathematics|NULL|  NULL|        90|
|   NULL|       NULL|NULL|  NULL|      NULL|
+-------+-----------+----+------+----------+

- Find null occurences of Each Column in Dataframe

In [4]:
from pyspark.sql.functions import col, count, when

In [7]:
result = df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns])
result.show()

+----+-------+----+------+----------+
|Name|Subject|Mark|Status|Attendance|
+----+-------+----+------+----------+
|   1|      1|   3|     2|         3|
+----+-------+----+------+----------+