#### For troubleshooting and Debugging
- To find which file contain NA/None/Null values

In [10]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Input_File_Name").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/22 20:47:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [23]:
df = spark.read.csv("Baby_Names.csv", inferSchema=True, header=True)
df.show(truncate=False)

+----+----------+-----------+---+-----+
|Year|First Name|County     |Sex|Count|
+----+----------+-----------+---+-----+
|2007|ZOEY      |KINGS      |F  |11   |
|2007|ZOEY      |SUFFOLK    |F  |6    |
|2007|ZOEY      |MONROE     |F  |6    |
|2007|ZOEY      |ERIE       |F  |9    |
|2007|ZOE       |ULSTER     |F  |5    |
|2007|ZOE       |WESTCHESTER|F  |24   |
|2007|ZOE       |BRONX      |F  |13   |
|2007|ZOE       |NEW YORK   |F  |55   |
|2007|ZOE       |NASSAU     |F  |15   |
|2007|ZOE       |ERIE       |F  |6    |
|2007|ZOE       |SUFFOLK    |F  |14   |
|2007|ZOE       |KINGS      |F  |34   |
|2007|ZOE       |MONROE     |F  |9    |
|2007|ZOE       |QUEENS     |F  |26   |
|2007|ZOE       |ALBANY     |F  |5    |
|2007|ZISSY     |ROCKLAND   |F  |5    |
|2007|ZISSY     |KINGS      |F  |27   |
|2007|ZION      |KINGS      |M  |15   |
|2007|ZION      |BRONX      |M  |14   |
|2007|ZEV       |ROCKLAND   |M  |6    |
+----+----------+-----------+---+-----+
only showing top 20 rows

In [24]:
df.tail(10)

[Row(Year=2014, First Name='MATIAS', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='JOAQUIN', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='NEYMAR', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='PEDRO', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='DILAN', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='EMILIANO', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='RAUL', County='Westchester', Sex='M', Count=5),
 Row(Year=2014, First Name='OLIVIA', County='Wyoming', Sex='F', Count=5),
 Row(Year=2014, First Name='LUCAS', County='Wyoming', Sex='M', Count=5),
 Row(Year=2014, First Name='JACKSON', County='Wyoming', Sex='M', Count=None)]

In [25]:
dfNull = df.filter(condition="Count is null")
dfNull.show()

+----+----------+-------+---+-----+
|Year|First Name| County|Sex|Count|
+----+----------+-------+---+-----+
|2014|   JACKSON|Wyoming|  M| NULL|
+----+----------+-------+---+-----+

In [26]:
import pyspark.sql.functions as F

In [28]:
dfInputFileName = df.withColumn("input_file_name", F.input_file_name())
dfInputFileName.show(truncate=False)

+----+----------+-----------+---+-----+----------------------------------------------------------------+
|Year|First Name|County     |Sex|Count|input_file_name                                                 |
+----+----------+-----------+---+-----+----------------------------------------------------------------+
|2007|ZOEY      |KINGS      |F  |11   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOEY      |SUFFOLK    |F  |6    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOEY      |MONROE     |F  |6    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOEY      |ERIE       |F  |9    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |ULSTER     |F  |5    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |WESTCHESTER|F  |24   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |BRONX      |F  |13   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |NEW YORK   |F  |55   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |NASSAU     |F  |15   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |ERIE       |F  |6    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |SUFFOLK    |F  |14   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |KINGS      |F  |34   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |MONROE     |F  |9    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |QUEENS     |F  |26   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZOE       |ALBANY     |F  |5    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZISSY     |ROCKLAND   |F  |5    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZISSY     |KINGS      |F  |27   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZION      |KINGS      |M  |15   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZION      |BRONX      |M  |14   |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
|2007|ZEV       |ROCKLAND   |M  |6    |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
+----+----------+-----------+---+-----+----------------------------------------------------------------+
only showing top 20 rows

#### Gives the file where null/None/NA values are present in file

In [30]:
dfInputFileName = df.withColumn("input_file_name", F.input_file_name()).filter(
    condition="Count is null"
)
dfInputFileName.show(truncate=False)

+----+----------+-------+---+-----+----------------------------------------------------------------+
|Year|First Name|County |Sex|Count|input_file_name                                                 |
+----+----------+-------+---+-----+----------------------------------------------------------------+
|2014|JACKSON   |Wyoming|M  |NULL |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|
+----+----------+-------+---+-----+----------------------------------------------------------------+

##### Date and time ingested in dataframe

In [31]:
df1 = dfInputFileName.withColumn("date_ingested", F.current_timestamp())
df1.show(truncate=False)

+----+----------+-------+---+-----+----------------------------------------------------------------+--------------------------+
|Year|First Name|County |Sex|Count|input_file_name                                                 |date_ingested             |
+----+----------+-------+---+-----+----------------------------------------------------------------+--------------------------+
|2014|JACKSON   |Wyoming|M  |NULL |file:///mnt/sda3/iNeuron/Data_Engineering/pySpark/Baby_Names.csv|2024-02-22 21:00:44.026312|
+----+----------+-------+---+-----+----------------------------------------------------------------+--------------------------+